@using WareHouseSys.ViewModels
@model InboundHeaderViewModel
@{
    ViewBag.Title = "轉入庫單作業";
    Layout = "";
}

<style>
    .table > tbody > tr > td {
        border-top: 1px solid #2b2b2b;
    }

    .ui-autocomplete-input {
        width: 70%;
    }

    .tdstyle {
        font-family: 標楷體;
        font-size: large;
        vertical-align: middle;
        border-style: solid;
        border-width: 0.5px;
        font-weight: 800;
        text-align: center;
        width: 12%;
        background-color: #D0CECF;
    }

    .ui-dialog {
        z-index: 900 !important;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>

<table class="table" style="border-style:solid;border-width:2px">
    <tbody>
        <tr>
            <td colspan="6" style="font-weight:800;font-size:x-large" align="center">入庫單資訊</td>
        </tr>
        <tr>
            <td class="tdstyle">
                收貨單號
            </td>
            <td> <input name="OrderNo" value="@Model.OrderNo" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" readonly></td>
            <td class="tdstyle">
                收貨人員
            </td>
            <td>
                <input name="InboundMan" value="@Model.InboundMan" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" readonly>
            </td>

            <td class="tdstyle">
                收貨日期
            </td>
            <td>
                <input name="InboundDate" value="@Model.InboundDate" style="width:70%;border-color: #d2d6de;border: 1px solid #ccc;" class="dateTime" readonly>
            </td>
        </tr>
    </tbody>
</table>

<table class="table" style="border-style:solid;border-width:2px">
    <tbody>
        <tr>
            <td>
                <div class="panel-heading">
                    <button id="btnAdd" class="btn btn-danger" type="button" style="margin-left:10px;display:inline;top:-12px"><i class="fa fa-plus-circle"></i>新增</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table id="InboundDetailTable" class="hover display">
                    <thead>
                        <tr>
                            <th>序號</th>
                            <th>料號</th>
                            <th>品名</th>
                            <th>規格</th>
                            <th>單位</th>
                            <th>批號</th>
                            <th>保存期限</th>
                            <th>應入庫量</th>
                            <th>已入庫量</th>
                            <th>儲位</th>
                            <th>佔用儲位</th>
                            <th>備註</th>
                            <th>動作</th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div id="ReqAddDialog" data-url="@Url.Action("InboundAddDetail","Inbound")"></div>

