@{
    ViewBag.Title = "Home Page";
}


<section class="content-header">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首頁</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">

                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">採購單</h3>
                <h5 class="widget-user-desc">案件統計</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#" style="cursor:default">已結案 <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#" style="cursor:default">已抽回 <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#" style="cursor:default">未結案<span class="pull-right badge bg-green">12</span></a></li>
                    <li><a href="#" style="cursor:default">處理中<span class="pull-right badge bg-red">842</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-light-blue">

                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">收貨單</h3>
                <h5 class="widget-user-desc">案件統計</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#" style="cursor:default">已結案 <span class="pull-right badge bg-blue">31</span></a></li>
                    <li><a href="#" style="cursor:default">已抽回 <span class="pull-right badge bg-aqua">5</span></a></li>
                    <li><a href="#" style="cursor:default">未結案<span class="pull-right badge bg-green">12</span></a></li>
                    <li><a href="#" style="cursor:default">處理中<span class="pull-right badge bg-red">842</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
   
